/* Сброс стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* Устанавливает box-sizing для всех элементов */
}

/* Основные элементы */
html,
body {
    font-size: 100%;
    /* Устанавливает размер шрифта по умолчанию */
    line-height: 1.5;
    /* Устанавливает высоту строки */
}

/* Ссылки */
a {
    text-decoration: none;
    /* Убирает подчеркивание */
    color: inherit;
    /* Наследует цвет текста */
}

/* Заголовки и параграфы */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    /* Наследует размер шрифта */
    font-weight: normal;
    /* Устанавливает нормальный вес шрифта */
}

/* Списки */
ul,
ol {
    list-style: none;
    /* Убирает маркеры списка */
}

/* Изображения и медиа */
img {
    max-width: 100%;
    /* Ограничивает ширину изображений */
    height: auto;
    /* Поддерживает пропорции изображений */
}

/* Формы */
input,
textarea,
button,
select {
    font-family: inherit;
    /* Наследует шрифт родителя */
    font-size: inherit;
    /* Наследует размер шрифта родителя */
}

/* Кнопки */
button {
    background: none;
    /* Убирает фон кнопок */
    cursor: pointer;
    /* Изменяет курсор при наведении на кнопку */
}