@import "./reset.css";
@import "../fonts/Play/stylesheets.css";
@import "../fonts/DeathStar/stylesheets.css";

:root {
    --white: #FFFFFF;
    --black: #000000;
    --orange: #F1C837;
    --cyan: #51C3E7;
    --red: #FF3333;
    --pink: #FF7676;

    --index: calc(1dvw + 1dvh);
    --container-index: calc(1cqw + 1cqh);
    --grid-gap: 20px;
}

html {
    font-size: 20px;
    font-family: 'Play', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h3,
p {
    font-size: 1rem;
    line-height: 1rem;
}

body {
    background: url("../img/starsBg.png") center / cover repeat-y;
}

.header {
    width: 100%;
    max-width: 1000px;
    height: 70dvh;

    margin-inline: auto;
    padding: 25px;
    text-align: center;

    perspective: 7rem;
    /* perspective-origin: 100%; */

    overflow: hidden;
}

.header__title {
    font-family: 'Death Star', sans-serif;
    color: white;
    margin-bottom: 22px;
}

.header__text {
    transform: rotateX(45deg);
}

.header__moving-part {
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    line-height: 4rem;
    color: var(--orange);
    animation: move-text 25s linear 0s infinite;
}

/* Секция карточки */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: clamp(10px, var(--index), 20px);

    width: 100%;
    max-width: 1000px;

    margin-inline: auto;
    padding-block: clamp(10px, var(--index), 20px);
    text-align: center;

    perspective: 33rem;
}

.card__title {
    color: var(--white);
}

.card__switch {
    display: none;
}

/* Переключатель */
.card__switch:checked~.card__switch-label {
    box-shadow: 0px 0px 30px 0px var(--red);
    background-color: var(--black);

    &>p:first-of-type {
        display: none;
    }

    &>p:last-of-type {
        display: block;
    }
}

.card__switch:checked~.card__content.content {
    transform: rotateY(180deg);
}

.card__switch-label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(150px, calc(var(--index) * 15), 300px);
    aspect-ratio: 300 / 60;

    color: var(--white);
    background-color: var(--cyan);
    font-family: "Death Star";

    border-radius: clamp(10px, var(--index), 20px);
    box-shadow: 0px 0px 30px 0px var(--cyan);
    text-transform: uppercase;
    user-select: none;

    transition: background-color 200ms ease,
        box-shadow 200ms ease;

    &>p:last-of-type {
        display: none;
    }
}

/* Содержимое карточки */
.card__content.content {
    --width: 90dvw;
    --height: 80dvh;
    --aspect-ratio: 1045 / 1145;

    --card-gap: min(var(--grid-gap), calc(var(--container-index) * 0.8));
    --card-radius: clamp(10px, var(--container-index), 30px);
    --card-child-radius: clamp(5px, calc(var(--container-index) * 0.8), 20px);

    /* 
        Ширина карточки: не больше заданной ширины окна (--width) 
        и не больше, чем заданная высота окна (--height), 
        умноженной на соотношение сторон (--aspect-ratio)
        (чтобы карточка всегда помещалась на экране) 
    */
    width: min(var(--width), var(--height) * calc(var(--aspect-ratio)));

    /* 
        Высота карточки: не больше заданной высоты окна (--height) 
        и не больше, чем заданная ширина окна (--width), 
        делённая на соотношение сторон (--aspect-ratio)
        (чтобы карточка всегда помещалась на экране) 
    */
    height: min(var(--height), var(--width) / calc(var(--aspect-ratio)));

    container-name: card-content;
    container-type: size;

    /* container: card-content / size; */

    margin-inline: auto;
    transform-style: preserve-3d;

    position: relative;
    transition: transform .2s ease;

    /* Общие стили для обоих контейнеров */
    &>.content__jedi,
    &>.content__sith {
        padding: var(--card-gap);

        border-radius: var(--card-radius);
        backface-visibility: hidden;

        position: absolute;
        inset: 0;
    }

    /* Стили для контейнера джедая */
    &>.content__jedi {
        background: url("../img/obiwan.png") center / cover no-repeat;

        &>.content__planet,
        &>.content__info {
            background-color: var(--white);
        }

        & h3,
        & h4 {
            color: var(--cyan);
        }

        & p {
            color: var(--black);
        }

        & .content__wrapper>h4::after {
            background-color: var(--cyan);
        }
    }

    /* Стили для контейнера ситха */
    &>.content__sith {
        background: url("../img/darthwaider.png") center / cover no-repeat;
        transform: rotateY(180deg);

        &>.content__planet,
        &>.content__info {
            background-color: var(--black);
        }

        & h3,
        & h4 {
            color: var(--pink);
        }

        & p {
            color: var(--white);
        }

        & .content__wrapper>h4::after {
            background-color: var(--pink);
        }
    }

    & .content__icon,
    & .content__planet,
    & .content__info {
        position: absolute;
    }

    & .content__planet,
    & .content__info {
        --padding: calc(var(--container-index) * 1);

        display: flex;
        flex-direction: column;

        padding: var(--padding) var(--padding) calc(var(--padding) * 1.2);

        border-radius: var(--card-child-radius);

        &>h3 {
            font-size: clamp(13px, calc(var(--container-index) * 1.4), 30px);
            font-weight: 700;
        }

        & h4 {
            font-size: clamp(10px, calc(var(--container-index) * 1.2), 20px);
            font-weight: 700;
        }

        & p {
            font-size: clamp(10px, calc(var(--container-index) * 1.2), 20px);
            font-weight: 400;
            line-height: 1.1;
        }
    }

    & .content__icon {
        width: calc(200 / 1045 * 100%);

        top: var(--card-gap);
        left: var(--card-gap);
    }

    & .content__planet {
        align-items: center;
        row-gap: calc(var(--container-index) * 1);

        width: calc(400 / 1045 * 100%);

        top: var(--card-gap);
        right: var(--card-gap);

        &>img {
            width: calc(287 / 400 * 100%);
        }
    }

    & .content__info {
        row-gap: calc(var(--container-index) * 1);

        width: calc(472 / 1045 * 100%);

        text-align: left;

        bottom: var(--card-gap);
        left: var(--card-gap);
    }

    .content__wrapper {

        &>h4 {
            --margin: calc(var(--container-index) * 0.5);

            margin-bottom: var(--margin);

            &::after {
                content: "";

                display: block;

                width: 70%;
                height: min(calc(var(--container-index) * 0.2), 4px);

                margin-top: var(--margin);

                border: none;
            }
        }
    }
}

/* Keyframes */
@keyframes move-text {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(-120%);
    }
}

@container card-content (max-width: 500px) {

    /* Отключает взаимодействие с .content__sith, чтобы работал скролл у jedi */
    .card__switch:not(:checked)~.card__content.content>.content__sith {
        pointer-events: none;
    }

    .card__content.content {

        &>.content__jedi,
        &>.content__sith {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: min(var(--grid-gap), calc(var(--container-index) * 0.8));
            overflow: hidden;
        }

        & .content__icon,
        & .content__planet,
        & .content__info {
            position: static;
        }

        & .content__info {
            width: 100%;
            height: 50cqh;
            overflow-y: scroll;
        }

        & .content__planet {
            flex-shrink: 1;
        }
    }
}

@container card-content (min-width: 501px) {
    .card__content.content {

        &>.content__jedi,
        &>.content__sith {
            overflow: hidden;

            &>* {
                transition: transform .2s ease;
            }

            &:hover {

                & .content__planet {
                    transform: rotate(0);
                }

                & .content__info {
                    transform: scale(1);
                }
            }
        }

        & .content__planet {
            transform: translateY(-5cqw) rotate(90deg);
            transform-origin: top right;
        }

        & .content__info {
            transform: scale(0);
            transform-origin: bottom left;
        }
    }
}